.AllCounts {
    border: 1px solid green;
}

.AllCounts>div {
    border: 1px solid pink;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}


#requests>div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

#requests>div:nth-child(3) div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#requests>div p {
    border: 1px solid maroon;
    text-align: center;
}

#users>div:nth-child(1){
    border: 1px solid rebeccapurple;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#users>div:nth-child(2){
    border: 1px solid rgb(70, 153, 51);
   
}

#users>div:nth-child(2) div{
    border: 1px solid hotpink;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}